DATABASE_URL=
PROTO_PATH=../../packages/proto-definition/dist/proto

# Services
API_GATEWAY_SERVICE_PORT=50060

AUTH_SERVICE_HOST=0.0.0.0
AUTH_SERVICE_PORT=50052

USER_SERVICE_HOST=0.0.0.0
USER_SERVICE_PORT=50053

PRODUCT_SERVICE_HOST=0.0.0.0
PRODUCT_SERVICE_PORT=50054

HEALTH_SERVICE_HOST=0.0.0.0
HEALTH_SERVICE_PORT=50055

# JWT
VERIFY_JWT_TOKEN=
VERIFY_JWT_EXPIRE=
ACCESS_JWT_TOKEN=
ACCESS_JWT_EXPIRE=
REFRESH_TOKEN=
REFRESH_TOKEN_EXPIRE=
RESET_JWT_TOKEN=
RESET_JWT_EXPIRE=